.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  background: #fff;
  border-radius: 100px;
  z-index: 999;
}

ion-content {
  .quizz_container {
    float: left;
    width: 100%;
    position: relative;
  }
  .quizz_image {
    img {
      height: 100vh;
      object-fit: cover;
      object-position: top;
      // margin-top: -22vh;
    }
    .quizz_image_background {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: linear-gradient(rgba(0, 0, 0, 0) 30%, #000 100%);
    }
  }

  .quizz_question {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  .quizz_reponses {
    ion-button {
      --border-color: white;
      --color: white;
      white-space: pre-line;

      &.selected {
        --background: rgba(255, 255, 255, 0.9);
        --color: #8058ff;
      }
    }
  }

  .quizz_reponse_text {
    position: absolute;
    z-index: 99;
    top: 15vh;
    left: 40px;
    right: 40px;
    min-height: 100px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #00000026;
    text-align: center;

    ion-icon {
      font-size: 81px;
      color: #10dc60;
      margin: -20px 0px -30px;
    }
  }

  ion-button[expand="block"] {
    --background: linear-gradient(to left, #0096ff 30%, #8058ff 100%);
    margin: 10px 2px;
    padding: 0px;
  }
  .quizz_footer {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
}
.start {
  .start_content {
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    margin: 15px;

    h2 {
      margin-top: 0px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

ion-footer {
  ion-button[expand="full"] {
    --background: #fff;
    --color: #8058ff;
    margin: 0px;
    padding: 0px;
  }
}
