.page_hero {
  display: block;
  position: relative;
  .page_hero_name {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    display: inline-block;
    width: calc(100% - 80px);
    padding-left: 16px;
  }
  img {
    position: absolute;
    right: 15px;
    bottom: 0px;
    width: 60px;
  }
}
ion-card {
  background: #fff !important;
  margin-top: 10px !important;

  ion-card-content {
    padding: 10px 20px 0px !important;

    ul {
      display: none;
    }
  }

  &.showMore ion-card-content ul {
    display: block;
  }
  .more {
    height: 2.2rem;
    margin-top: 0px;
  }
  .custom_ul ul li {
    line-height: 20px;
  }
  .custom_ul ul {
    list-style: none; /* Remove default bullets */
    margin: 0px 0px -5px 9px;
    padding: 5px 15px;
  }

  .custom_ul ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #8058ff;
    font-weight: bold;
    display: inline-block;
    width: 25px;
    margin-left: -25px;
    font-size: 30px;
    top: 3px;
    position: relative;
  }
}
ion-list-header.cours ion-label {
  color: #fff !important;
  background: transparent !important;
  font-size: 26px;
  text-transform: initial;
  padding: 0px 0px 8px;
  font-weight: 600;
}
ion-list.cours {
  padding: 0px;
  margin: 0px 16px;
  border-radius: 8px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  ion-item {
    background: #fff;
    // margin: 0px 15px;
    overflow: hidden;
    &:last-child {
      --border-color: 0px;
    }
    h3 {
      color: #393939;
    }
    ion-icon {
      color: rgb(102, 102, 102);
      &.active {
        color: green;
      }
    }
  }
}

// Le thème du conducteur explore les bonnes pratiques pour conduire en toute sécurité et les facteurs de risques.
// <ul>
// <li>Que signifie bien conduire ?</li>
// <li>L\’usager est-il ou non dans un bon état pour conduire</li>
// <li>Comment adapter sa conduite à certains comportements ?</li>
// </ul>

// Les usagers de la route sont variés et souvent nombreux.
// En tant que cycliste, ont est amené à croiser différents véhicules (voiture, scooter, camions…), et les piétons. Ce thème concerne les règles spécifiques qui s’appliquent à chacun.
// <ul>
// <li>Quelles sont les caractéristiques et spécificités des autres usagers ?</li>
// <li>Comment se partage la rue/route entre les usagers ?</li>
// </ul>
