<ion-header no-border translucent="true">
  <ion-toolbar>
    <ion-title>
      Cours
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="column">
    <div *ngFor="let categorie of categories; let i  = index;">
      <ion-card *ngIf="i % 2 == 0" (click)="goCoursDetails(categorie)">
        <img [src]="categorie.picture" alt="" />

        <ion-icon [class]="i < 2 ? 'active': ''" name="checkmark-circle"></ion-icon>

        <ion-card-header>
          <ion-card-title>{{categorie.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
  <div class="column">
    <div *ngFor="let categorie of categories; let i  = index;">
      <ion-card *ngIf="i % 2 !== 0" (click)="goCoursDetails(categorie)">
        <img [src]="categorie.picture" alt="" />

        <ion-icon [class]="i < 2 ? 'active': ''" name="checkmark-circle"></ion-icon>

        <ion-card-header>
          <ion-card-title>{{categorie.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>