.slide_container {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px #00000026;
  margin: 15px 16px 5px;
  display: block;
  width: 100%;
  background: #fff;
  height: calc(100vh - 200px);

  img {
    max-height: 50vw;
  }

  p {
    font-size: 14px;
  }

  ion-button {
    --background: linear-gradient(to left, #0096ff 30%, #8058ff 100%);
  }
  .close {
    position: absolute;

    top: 20px;
    right: 20px;
    font-size: 40px;
  }
}

ion-slides {
  --bullet-background: gray;
  --bullet-background-active: #8058ff;
}
