<ion-content ion-fixed>
  <ion-slides #slider pager='true' (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <div class="slide_container">
        <ion-icon class="close" name="close" (click)="close()"></ion-icon>
        <img [src]="cour.picture" alt="" />
        <h2>{{cour.titre}}</h2>
        <p>{{cour.contenu}}</p>
      </div>
    </ion-slide>
    <ion-slide *ngFor="let slide of slides; let i = index">
      <div class="slide_container">
        <img [src]="slide.picture" alt="" />
        <h2>{{slide.titre}}</h2>
        <p>{{slide.description}}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide_container">
        <img [src]="cour.picture_finish" alt="" />
        <h2>Sujet terminé !</h2>
        <p>{{cour.text_finish}}</p>
        <ion-button (click)="close('finished')">Revenir au cours
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>