/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header {
  backdrop-filter: none !important;

  ion-toolbar {
    --background: transparent;
    --color: #fff;
  }
  ion-back-button {
    --color: #fff !important;
  }
  ion-title {
    font-size: 20px !important;
    padding: 0px 40px;
  }
}
ion-card-content {
  padding-top: 0px;
}
ion-card-title {
  font-size: 20px;
}

ion-content {
  --background: linear-gradient(#0cd1e8, #0096ff 30%, #8058ff 100%);
  color: #fff;
}
ion-card ion-label {
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
  background: #8058ff;
  border-radius: 100px;
  padding: 6px 12px;
  margin: 10px 15px 0px;
  display: inline-block;
}
ion-list {
  background: transparent !important;
  color: #fff;
  ion-list-header {
    ion-label {
      color: #8058ff !important;
      font-weight: bold;
      text-transform: uppercase;
      background: #fff;
      border-radius: 100px;
      padding: 6px 12px;
    }
  }
  ion-item {
    --background: transparent;
    color: #fff;
    ion-icon {
      --ion-color-base: #fff !important;
    }
  }
}

.modal-fullscreen {
  .scroll-content {
    overflow-y: hidden !important;
  }
  ion-backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  .ion-page {
    box-shadow: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .modal-fullscreen {
    --background: transparent;
    .ion-page {
      background: transparent;
      top: 80px;
      left: 10px;
      right: 10px;
      bottom: 80px;
      ion-content {
        --background: transparent;
      }
    }
  }
}
@media only screen and (min-height: 768px) and (min-width: 768px) {
  .modal-wrapper {
    top: calc(50% - (700px / 2));
    height: 700px;
  }
}
