.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-card {
  background: #fff;
  margin-top: 10px;
  ion-card-content {
    padding-bottom: 0px;
    padding-top: 0px;
    p {
      margin-bottom: 0px;
    }
  }
}
